## Challenge 2

#### Data scraping from a excel spreadsheet.

The aim of this exercise is to extract a table from an unstructured excel file located "data/ch2.xlsx". (highlighted in black) 
The table shows time period where one of our costs called Duos applies. The idea is to format this table into the table that you can see at the bottom of this page. The objective is to make this more readable to the machine. 

We are interested in seeing how you approach the problem and how you write code generally.

If you manage to obtain the same output would be great. If not, you can try to explain the steps you would take to tackle the problem.

Best of luck



<img src="data/img/duos.png" alt="cross_join" title="cross_join" />

In [1]:
import pandas as pd

DUOS_CATEGORY = {"green": 0, "amber": 1, "red": 2}

In [19]:
df

   weekdays  colour start_time  end_time
0      True       2   11:00:00  14:00:00
1      True       1   07:00:00  11:00:00
2      True       0   00:00:00  07:00:00
3     False       0   00:00:00  00:00:00
4      True       2   16:00:00  19:00:00
5      True       1   14:00:00  16:00:00
6      True       0   23:00:00  00:00:00
7      True       1   19:00:00  23:00:00